* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  
  text-align: center;
}

#footer {
  width: 100%;
  background-color: #e39ff6;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width:769px) {
  
#footer {
  font-size: smaller;
}
}